# Note: later rules override earlier rules.

# Default
*                  @intersectmbo/ouroboros-network-maintainers

# Docs
docs               @bolt12 @njd42 @peterwthompson @intersectmbo/ouroboros-network-maintainers


# CICD
nix/                         @intersectmbo/core-tech-release-1 @intersectmbo/ouroboros-network-maintainers
*.nix                        @intersectmbo/core-tech-release-1 @intersectmbo/ouroboros-network-maintainers
.github/workflows/ @newhoggy @intersectmbo/core-tech-release-1 @intersectmbo/ouroboros-network-maintainers
scripts/ci         @newhoggy @intersectmbo/core-tech-release-1 @intersectmbo/ouroboros-network-maintainers
