doc/network.aux
doc/network.bbl
doc/network.blg
doc/network.log
doc/network.out
doc/network.pdf
doc/network.toc
doc/protocols.aux
doc/protocols.bbl
doc/protocols.blg
doc/protocols.log
doc/protocols.out
doc/protocols.pdf
doc/protocols.toc

.ghc.environment.*
cabal.project.local*
cabal.project.local~
dist-newstyle/
dist/
*.swp
*.swo
*~
*_flymake.hs
result*
tags
TAGS

.stack-work/
*.tix

db-byron-proxy-*
index-byron-proxy-*
launch-*
