language: nix
script:
- nix-env -f ./nix/nixpkgs.nix -iA cachix
- echo "trusted-users = root ${USER}" | sudo tee -a /etc/nix/nix.conf || true
- sudo pkill nix-daemon || true
- cachix use ouroboros-network
- nix-build --arg dev true -A ouroboros-network -o result --argstr compiler $COMPILER
after_success:
- cachix push ouroboros-network ./result
matrix:
  include:
  - name: GHC 844
    env: COMPILER="ghc844"
  - name: GHC 802
    env: COMPILER="ghc802"
  - name: GHC 844
    env: COMPILER="ghc844"
    os: osx
  - name: GHC 802
    env: COMPILER="ghc802"
    os: osx
env:
  global:
    secure: WTE6zHkeaOUTYjEImQiZ8/um8H9qf/n+ntUggKmY75EIYC+hzMHof9qvKiFdZ+rzCpU0xKK+OxYlcrKYUH9XjJxo7nEQJ23ez6vbB4qZy5Kf/2r0G+s03PRMuyrRs94Hav0DX1psf659meDtGKMkM1OAmys/ib86TV49uO9zAwwOHjhkjPF/Cnn1X89VyinCQoeh3XOzx7D0CujVJ/5TfTJ9PkMVYwcVeUKj23liUrj8AfyjtHa0fOLpqOQqi6PsTOJ149unecI0Mw8mFOJGDBqHEjBdSn+eEg4ya+ttYNsymzWDJYeQHpetg8g6SXxngu/gjoSrnieZqHHvw/3ZWyqst3GVDLF0xpV8co/XdS+v8D9kVRZSvY38Yw3mJLw6L39D9ZF7NBkSZou4FhOuDcqqw1OnesUO4K1OLd50UDoJKIcThdNQyUDmGNfj1eypq69tSwSCMZRRBVLAQOAFfXAM3oTapcGkwJ/1pRbUFG5pQfdIxM2eD800mTdWq7NOb73RZM8EQ2T5B3NMKx2ViGgXgrIx1PcknhSE1gcxDC5Gjb4n1GkO7493JOvs1R05Ewjpj7q29xBeir9e4DRSNZh3JKw48U9ZZCthMmmRq5ItleHUHiS4D2+tOVKnFKleBqg3IEmzfWTDWii+hkLJy2XpeBf4Axqpe5jzk+VmqTU=
