language: nix
script:
- nix-env -f ./nix/nixpkgs.nix -iA cachix
- echo "trusted-users = root ${USER}" | sudo tee -a /etc/nix/nix.conf || true
- sudo pkill nix-daemon || true
- cachix use ouroboros-network
- nix-build --arg error true -A io-sim-classes      -o result-io-sim-classes      --argstr compiler $COMPILER
- nix-build --arg error true -A io-sim              -o result-io-sim              --argstr compiler $COMPILER
- nix-build --arg error true -A typed-protocols     -o result-typed-protocols     --argstr compiler $COMPILER
- nix-build --arg error true -A typed-transitions   -o result-typed-transitions   --argstr compiler $COMPILER
- nix-build --arg error true -A ouroboros-network   -o result-ouroboros-network   --argstr compiler $COMPILER
- nix-build --arg error true -A ouroboros-consensus -o result-ouroboros-consensus --argstr compiler $COMPILER
- nix-build --arg error true -A byron-proxy         -o result-byron-proxy         --argstr compiler $COMPILER
after_success:
- cachix push ouroboros-network ./result-typed-io-sim-classes
- cachix push ouroboros-network ./result-typed-io-sim
- cachix push ouroboros-network ./result-typed-protocols
- cachix push ouroboros-network ./result-typed-transitions
- cachix push ouroboros-network ./result-ouroboros-network
- cachix push ouroboros-network ./result-ouroboros-consensus
- cachix push ouroboros-network ./result-byron-proxy
matrix:
  include:
  - name: GHC 863
    env: COMPILER="ghc863"
env:
  global:
    secure: WTE6zHkeaOUTYjEImQiZ8/um8H9qf/n+ntUggKmY75EIYC+hzMHof9qvKiFdZ+rzCpU0xKK+OxYlcrKYUH9XjJxo7nEQJ23ez6vbB4qZy5Kf/2r0G+s03PRMuyrRs94Hav0DX1psf659meDtGKMkM1OAmys/ib86TV49uO9zAwwOHjhkjPF/Cnn1X89VyinCQoeh3XOzx7D0CujVJ/5TfTJ9PkMVYwcVeUKj23liUrj8AfyjtHa0fOLpqOQqi6PsTOJ149unecI0Mw8mFOJGDBqHEjBdSn+eEg4ya+ttYNsymzWDJYeQHpetg8g6SXxngu/gjoSrnieZqHHvw/3ZWyqst3GVDLF0xpV8co/XdS+v8D9kVRZSvY38Yw3mJLw6L39D9ZF7NBkSZou4FhOuDcqqw1OnesUO4K1OLd50UDoJKIcThdNQyUDmGNfj1eypq69tSwSCMZRRBVLAQOAFfXAM3oTapcGkwJ/1pRbUFG5pQfdIxM2eD800mTdWq7NOb73RZM8EQ2T5B3NMKx2ViGgXgrIx1PcknhSE1gcxDC5Gjb4n1GkO7493JOvs1R05Ewjpj7q29xBeir9e4DRSNZh3JKw48U9ZZCthMmmRq5ItleHUHiS4D2+tOVKnFKleBqg3IEmzfWTDWii+hkLJy2XpeBf4Axqpe5jzk+VmqTU=
