[Unit]
Description=KES Agent
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=forking
ExecStart=/usr/local/bin/kes-agent start
ExecStop=/usr/local/bin/kes-agent stop
EnvironmentFile=/etc/kes-agent/kes-agent.env
PIDFile=kes-agent.pid
RemainAfterExit=yes

[Install]
WantedBy=sleep.target
