name: Project checks

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  push:
    branches:
      - 'staging'
      - 'trying'

jobs:
  check-git-dependencies:

    name: Check git dependencies

    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}

    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:

    - uses: actions/checkout@v3

    - run: ./scripts/ci/check-git-dependencies.sh
